<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8" />
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />

<!-- BEGIN PLUGIN CSS -->
<link href="{{ STATIC_URL }}webarch/assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{ STATIC_URL }}webarch/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{ STATIC_URL }}webarch/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}webarch/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}webarch/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{{ STATIC_URL }}webarch/assets/plugins/jquery-morris-chart/css/morris.css" type="text/css" media="screen" charset="utf-8">
<link href="{{ STATIC_URL }}webarch/assets/plugins/jquery-slider/css/jquery.sidr.light.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{ STATIC_URL }}webarch/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{ STATIC_URL }}webarch/assets/plugins/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{ STATIC_URL }}webarch/assets/plugins/boostrap-checkbox/css/bootstrap-checkbox.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- END PLUGIN CSS -->

<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="{{ STATIC_URL }}webarch/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}webarch/assets/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}webarch/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}webarch/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->

<!-- BEGIN CSS TEMPLATE -->
<link href="{{ STATIC_URL }}webarch/assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}webarch/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}webarch/assets/css/custom-icon-set.css" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->
{% block css %}{% endblock %}
</head>

{% block body %}
<!-- BEGIN BODY -->
<body class="">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">

    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <div class="header-seperation" style="display:none;">
      <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
        <li class="dropdown">
          <a id="main-menu-toggle" href="#main-menu" class="">
            <div class="iconset top-menu-toggle-white"></div>
          </a>
        </li>
      </ul>
      <!-- BEGIN LOGO -->

      <!-- END LOGO -->
      <ul class="nav pull-right notifcation-center">
        <li class="dropdown" id="header_task_bar"><a href="/" class="dropdown-toggle active" data-toggle="">
          <div class="iconset top-home"></div>
        </a></li>
      </ul>
    </div>
    <!-- END RESPONSIVE MENU TOGGLER -->

    <div class="header-quick-nav">

      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="pull-left">
        <ul class="nav quick-section">
          <li class="quicklinks">
            <a href="#" class="" id="layout-condensed-toggle">
            <div class="iconset top-menu-toggle-dark"></div>
            </a>
          </li>
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->

      <!-- BEGIN TOP NAV TOGGLER -->
      <div class="pull-right">
        <ul class="nav quick-section ">
          <li class="quicklinks">
            <a data-toggle="dropdown" class="dropdown-toggle  pull-right" href="#">
              <div class="iconset top-settings-dark "></div>
            </a>
            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="dropdownMenu">
              <li>
                <a href="{% url 'admin' %}">Admin</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'logout' %}">
                  <i class="icon-off"></i>&nbsp;&nbsp;Log Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- END TOP NAV TOGGLER -->

    </div>
    <!-- END TOP NAVIGATION MENU -->

  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>

<!-- END HEADER -->




<!-- BEGIN CONTAINER -->

<div class="page-container row">

  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar mini" id="main-menu">
    <!-- BEGIN SIDEBAR MENU -->
    <p class="menu-title">BROWSE <span class="pull-right"><a href="javascript:;"><i class="icon-refresh"></i></a></span></p>
    <ul>
      <li class="start active ">
        <a href="/">
          <i class="icon-bar-chart"></i>
          <span class="title">Dashboard</span>
          <span class="selected"></span>
        </a>
      </li>
      <li class="start active ">
        <a href="{% url 'realtor_list' %}">
          <i class="icon-user"></i>
          <span class="title">Realtors</span>
          <span class="selected"></span>
        </a>
      </li>
      <li class="start active ">
        <a href="{% url 'office_list' %}">
          <i class="icon-coffee"></i>
          <span class="title">Offices</span>
          <span class="selected"></span>
        </a>
      </li>
    </ul>

    <div class="side-bar-widgets"></div>
    <a href="#" class="scrollup to-edge">Scroll</a>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->


  <div class="footer-widget"></div>
  <!-- END SIDEBAR -->

  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content condensed">

    <div class="content">
      {% block content %}{% endblock %}

      <!-- END PAGE -->
    </div>
</div>

<!-- END CONTAINER -->

<!-- BEGIN CORE JS FRAMEWORK-->
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/breakpoints.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<!-- END CORE JS FRAMEWORK -->

<!-- BEGIN PAGE LEVEL JS -->
<script src="{{ STATIC_URL }}webarch/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-block-ui/jqueryblockui.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-morris-chart/js/morris.min.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-slider/jquery.sidr.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-sparkline/jquery-sparkline.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-flot/jquery.flot.min.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-flot/jquery.flot.animator.min.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/skycons/skycons.js"></script>
<!-- END PAGE LEVEL PLUGINS   -->

<!-- PAGE JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="{{ STATIC_URL }}webarch/assets/js/core.js" type="text/javascript"></script>
{% block javascript %}{% endblock %}
<!-- END CORE TEMPLATE JS -->

</body>
{% endblock %}
</html>