{% load humanize %}
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Close Date</th>
    <th>Price</th>
    <th>Type</th>
    <th>City</th>
    {% if reciprocal_agent == 'selling' %}
    <th>Selling Agent</th>
    {% else %}
    <th>Listing Agent</th>
    {% endif %}
  <tr>
  </thead>
  {% for item in transactions %}
    <tr>
      <td><a href="{% url 'one_transaction' item.multiple_listing_number %}"><i class="icon-book"></i></a> {{ item.date_closed_sale }}</td>
      <td>${{ item.selling_price|intcomma }}</td>
      <td>{{ item.property_type }}</td>
      <td>{{ item.address.city }}</td>
      {% if reciprocal_agent == 'selling' %}
      <td>
        <a href="{% url 'one_realtor' item.selling_agent.id %}">
        {% if item.selling_agent.agentimage %}
        {{ item.selling_agent.agentimage.to_html_micro }}
        {% else %}
        {{ agent_image_model.to_html_unknown_image_micro }}
        {% endif %}
        {{ item.selling_agent.name }}
        </a>
      </td>
      {% else %}
      <td>
        <a href="{% url 'one_realtor' item.listing_agent.id %}">
        {% if item.listing_agent.agentimage %}
        {{ item.listing_agent.agentimage.to_html_micro }}
        {% else %}
        {{ agent_image_model.to_html_unknown_image_micro }}
        {% endif %}
        {{ item.listing_agent.name }}
        </a>
      </td>
      {% endif %}
    </tr>
  {% endfor %}

</table>