{% load humanize %}
          <style>

            .agent_photo_small{
              margin:0px;
              margin-left:10px;
              margin-right:10px;
              border-radius:50%;
              width:75px;
              height:75px;
              background-repeat:no-repeat;
            }
          </style>

          <table class="table table-bordered no-more-tables">
            <thead>
            <tr>
              <th width="3%">Image</th>
              <th width="9%">Agent</th>
              {% if show_office %}
              <th width="10%">Office</th>
              {%  endif %}
              <th width="10%">Sales</th>
              <th width="10%">Rank</th>
            </tr>
            </thead>


            <tbody>
{% for agent in agents %}
              <tr>
                <td>
                  <a href="{% url 'one_realtor' agent.id %}">
                  {% if agent.agentimage %}{{ agent.agentimage.to_html_small }}
                  {% else %}{{ agent_image_model.to_html_unknown_image_small }}
                  {% endif %}
                  </a>
                </td>

                <td valign="middle">
                  <a href="{% url 'one_realtor' agent.id %}">{{ agent.name }}</a>
                </td>

                {% if show_office %}
                <td valign="middle">
                  <span class="muted"><a href="{% url 'one_office' agent.office.id %}">{{ agent.office.name }}</a></span>
                </td>
                {% endif %}

                <td>
                  <span class="muted">Sell Side: ${{ agent.total_selling_transaction_volume|intcomma }}
                    <br>List Side: ${{ agent.total_listing_transaction_volume|intcomma }}</span>
                </td>

                <td valign="middle">
                  <div class="progress">
                    <div data-percentage="{% widthratio agent.total_selling_transaction_volume max_selling_volume 100 %}%"
                         id="" class="progress-bar progress-bar-success animate-progress-bar"></div>
                  </div>
                  <div class="progress" style="margin-top:10px;">
                    <div data-percentage="{% widthratio agent.total_listing_transaction_volume max_listing_volume 100 %}%%"
                         id="" class="progress-bar progress-bar-warning animate-progress-bar"></div>
                  </div>
                </td>
              </tr>
{% endfor %}


            </tbody>
          </table>