{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}

<div class="page-title">
  <h3>Admin Page</h3>
    <p><a href="{% url 'csv_import_list' %}">Import List</a></p>
    <p><a href="{% url 'invalid_realtor_list' %}">Invalid Realtor List</a></p>
</div>

<div id="container">
</div>


{% endblock %}


