{% extends 'base.html' %}

{% block title %}Imports{% endblock %}

{% block content %}

<div class="page-title">
  <h3>Imports</h3>
  {% for import in imports %}
  <p><a href="{% url 'one_csv_import' import.id %}">{{ import.original_filename }}, {{ import.status }}</a></p>
  {% endfor %}
</div>

<div id="container">
</div>


{% endblock %}