{% extends 'base.html' %}

{% block title %}Edit Image Page{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">{% endblock %}
{% block content %}

<style>

	#photo_output{
		margin:20px;
	  border-radius:50%;
		width:200px;
		height:200px;
		background-repeat:no-repeat;
	}
	#image_container {
		margin:20px;
		padding:0px;
		position:absolute;
	}
	#resizable {
		width:100px;
		height:100px;
		background:none;
		background-color:rgba(255, 0, 0, 0.2);
		border-style: solid;
		border-color: grey;
		border-width: 1px;
	}
	#hidden{margin:none;padding:none; }

	#coordinates label{display:block; float:left; width:100px;}

	#face_frame{
		border-bottom: solid;
		border-bottom-width:1px;
		border-top: solid;
		border-top-width:1px;
		height: 80%;
		margin-top: 10%;
	}

  #bottom_padding{
  }
</style>


<div class="page-title">
  <h3>Edit Image for {{ image.agent.name }}</h3>
</div>

<div id="container">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Edit Image</h4>
          <div id="coordinates" >
            <form method="POST" action="">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-2">
                  <div id="photo_output"></div>
                  <input type="submit" value="Save" class="btn btn-primary">
                </div>

                  <div id="coordinate-form">

                    <div class="col-md-1 col-md-offset-1">
                      <label>X Position</label>
                      <input type="text" id="posx" size="2" name="crop_x">
                    </div>
                    <div class="col-md-1">
                      <label>Y Position</label>
                      <input type="text" id="posy" size="2" name="crop_y">
                    </div>
                    <div class="col-md-1">
                      <label>Box Width</label>
                      <input type="text" id="width" size="2" name="crop_width">
                    </div>
                    <div class="col-md-1">
                      <label>Box Height</label>
                      <input type="text" id="height" size="2" name="crop_height">
                    </div>
                    <div class="col-md-1">
                      <label>Image Width</label>
                      <input type="text" id="image_width" size="2" name="width">
                    </div>
                    <div class="col-md-1">
                      <label>Image Height</label>
                      <input type="text" id="image_height" size="2" name="height">
                    </div>


                    <div class="col-md-2">
                      <label>Output</label>
                      <input type="text" id="output" size="20">
                    </div>

                </div>



              </div>
            </form>

          </div>




          <div id="image_container">
            <div id="resizable">
              <div id="face_frame"></div>
            </div>
          </div>


          <div id="hidden">
            {% if image.has_uploaded %}
            <img src="{{ MEDIA_URL }}/{{ image.image }}" id="hidden_image">
            {% else %}
            <img src="{{ STATIC_URL }}image_resizer/{{ image.filename }}" id="hidden_image">
            {% endif %}
          </div>

          <div id="bottom_padding"></div>






        </div>
        <div class="grid-body no-border">
          <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>

function resize_output_image(posx, posy, image_width, box_width){

	output_width = 200;
	scale_factor = output_width/box_width;
	bg_image_width = image_width*scale_factor;
	bg_image_height = image_height*scale_factor;

	$("#photo_output").css('background-size', bg_image_width+'px '+bg_image_height+'px' );
	$("#photo_output").css('background-position', 'left -'+(posx*scale_factor)+'px top -'+(posy*scale_factor)+'px');




}

$(function () {

    $('#coordinate-form').hide();
    $("#resizable").draggable({
        containment: "#image_container",
        stop: function (e, ui) {
            $("#posx").val(ui.position['left']);
            $("#posy").val(ui.position['top']);
			$("#output").val(ui.position['left']+","+ui.position['top']+","+$("#width").val()+","+$("#height").val()+","+$("#image_width").val()+","+$("#image_height").val());
			resize_output_image( ui.position['left'], ui.position['top'], $("#image_width").val(), $("#width").val());

			if( ui.position['left'] + parseInt($("#width").val()) > $("#image_container").width() ){
				max_box_width = parseInt($("#image_width").val()) - ui.position['left']
				$('#resizable').width( max_box_width-2)
				$('#resizable').height( max_box_width-2)
				$("#width").val(max_box_width);
				$("#height").val(max_box_width);
				resize_output_image( ui.position['left'], ui.position['top'], $("#image_width").val(), max_box_width);


			};
			if( parseInt(ui.position['top']) + parseInt($("#height").val()) > $("#image_container").height() ){
				max_box_height = parseInt($("#image_height").val()) - ui.position['top']
				$('#resizable').width( max_box_height-2)
				$('#resizable').height( max_box_height-2)
				$("#width").val(max_box_height);
				$("#height").val(max_box_height);
				$("#photo_output_a").css('background-position', 'left -'+posx+'px top -'+posy+'px');
				resize_output_image( ui.position['left'], ui.position['top'], $("#image_width").val(), max_box_height);
			};


        },drag: function (e,ui) {
            resize_output_image( ui.position['left'], ui.position['top'], $("#image_width").val(), $("#width").val());
        }

    }).resizable({
        aspectRatio: 1,
        containment: "#image_container",
        stop: function (e, ui) {
            $("#posx").val(ui.position['left']);
            $("#posy").val(ui.position['top']);
            $("#width").val(ui.size['width']+2);
            $("#height").val(ui.size['height']+2);
			      $("#output").val(ui.position['left']+","+ui.position['top']+","+(ui.size['width']+2)+","+(ui.size['height']+2)+","+$("#image_width").val()+","+$("#image_height").val());
	          resize_output_image( ui.position['left'], ui.position['top'], $("#image_width").val(), ui.size['width']);

        },resize: function (e,ui) {
            resize_output_image( ui.position['left'], ui.position['top'], $("#image_width").val(), ui.size['width']);
        }


    });
});




$(window).load(function() {
  {% if image.has_uploaded %}
  background_image = '{{ MEDIA_URL }}/{{ image.image }}';
  {% else %}
	background_image = '{{ STATIC_URL }}image_resizer/{{ image.filename }}';
  {% endif %}

	// create image in hidden image_container so we can get the attributes for it, then hide it

    image_width = $("#hidden_image").width();
    image_height = $("#hidden_image").height();
    $("#hidden").hide();
    $("#bottom_padding").css('height',image_height+50);

	// set the size of the image_container with the background image
    $("#image_container").css({width:image_width, height:image_height});
    $("#image_container").css('background-image', 'url(' + background_image + ')')

    //initial parameters
    initial_height=0;
    initial_width=0;
    initial_box_x=0;
    initial_box_y=0;
    initial_box_width=0;
    initial_box_height=0;


    {% if image.width or image.height or image.crop_x or image.crop_y or image.crop_width or image.crop_height %}
    initial_height={{ image.height }};
    initial_width={{ image.width }};
    initial_box_x={{ image.crop_x }};
    initial_box_y={{ image.crop_y }};
    initial_box_width={{ image.crop_width }};
    initial_box_height={{ image.crop_height }};
    {% endif %}

    if(initial_height+initial_width+initial_box_x+initial_box_y+initial_box_width+initial_box_height!=0){
      box_width = initial_box_width;
      box_height = initial_box_height;
      posx = initial_box_x;
      posy = initial_box_y;
      $("#resizable").css({top: posy, left: posx, width:box_width, height:box_height});

    }else{
      // image is not set, so set defaults
      // set the box to half the min of height or width and center
      box_size = Math.min.apply(null, [image_width,image_height]);
      box_width = parseInt(box_size/2);
      box_height = parseInt(box_size/2);
      posx = parseInt( (image_width - box_width) /2 );
      posy = parseInt( (image_height - box_height) /2 );
      $("#resizable").css({top: posy, left: posx, width:box_width, height:box_height});
    };

    // set the parameters in the input boxes
    $("#posx").val(posx);
    $("#posy").val(posy);
    $("#width").val(box_width);
    $("#height").val(box_height);
	  $("#image_width").val(image_width);
    $("#image_height").val(image_height);
	  $("#output").val(posx+","+posy+","+box_width+","+box_height+","+image_width+","+image_height);


	  $("#photo_output").css('background', 'url(' + background_image + ')');
	  resize_output_image(posx, posy, image_width, box_width);



});
</script>
{% endblock %}