{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <div class="page-title">
          <h3>Dashboard</h3>
        </div>

        <div id="container">

          <div class="row spacing-bottom 2col">
            <div class="col-md-3 col-sm-6 spacing-bottom-sm spacing-bottom">
              <div class="tiles blue added-margin">
                <div class="tiles-body">
                  <div class="tiles-title">
                    TOTAL OFFICES IN SYSTEM
                  </div>
                  <div class="heading">
                    <span class="animate-number" data-value="{{ office_count }}" data-animation-duration="1200">0</span>

                  </div>
                  <div class="progress transparent progress-small no-radius">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="100%"></div>
                  </div>
                  <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; x% higher <span
                          class="blend">than last month</span></span></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 spacing-bottom-sm spacing-bottom">
              <div class="tiles green added-margin">
                <div class="tiles-body">
                  <div class="tiles-title">
                    TOTAL AGENTS IN SYSTEM
                  </div>
                  <div class="heading">
                    <span class="animate-number" data-value="{{ agent_count }}" data-animation-duration="1000">0</span>
                  </div>
                  <div class="progress transparent progress-small no-radius">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="79%"></div>
                  </div>
                  <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; x% higher <span
                          class="blend">than last month</span></span></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 spacing-bottom">
              <div class="tiles red added-margin">
                <div class="tiles-body">
                  <div class="tiles-title">
                    TRANSACTIONS IN SYSTEM
                  </div>
                  <div class="heading">
                    <span class="animate-number" data-value="{{ transaction_count }}" data-animation-duration="1200">0</span>
                  </div>
                  <div class="progress transparent progress-white progress-small no-radius">
                    <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="45%"></div>
                  </div>
                  <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; x% higher <span
                          class="blend">than last month</span></span></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="tiles purple added-margin">
                <div class="tiles-body">
                  <div class="tiles-title">
                    TRANSACTION VOLUME IN SYSTEM
                  </div>
                  <div class="row-fluid">
                    <div class="heading">
                      $ <span class="animate-number" data-value="{{ transaction_volume }}" data-animation-duration="1500">0</span>
                    </div>
                    <div class="progress transparent progress-white progress-small no-radius">
                      <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="95%"></div>
                    </div>
                  </div>
                  <div class="description"><i class="icon-custom-up"></i><span class="text-white mini-description ">&nbsp; x% higher <span
                          class="blend">than last month</span></span></div>

                </div>
              </div>
            </div>
          </div>

          <!-- CHART -->
          <div class="row">
           <div class="col-md-12">
              <div class="grid simple">

                <div class="grid-title no-border">
                  <h4>Transaction <span class="semi-bold">Volume</span></h4>
                </div>

                <div class="grid-body no-border">
                  <div class="row">
                    <div class="col-md-12">
                      <h4>Trailing <span class="semi-bold">Twelve Months</span> of Transactions</h4>
                      <p> Showing transaction volume by month of the selected areas in system.</p>
                      <div id="transaction-volume"> </div>

                    </div>
                  </div>


                </div>

              </div>
           </div>
          </div>
        </div>
{% endblock %}




{% block javascript %}
<!-- CHART -->
<script>
$(document).ready(function() {
  Morris.Line({
    element: 'transaction-volume',
    data: [
    {% for month in trailing_transactions %}
      { d: '{{ month.month_bin.year }}-{{ month.month_bin.month }}', v: {{ month.monthly_transaction_volume }}, c:{{ month.monthly_transaction_count }}, c2:{{ month.monthly_transaction_count }}*500000 },
    {% endfor %}
    ],
    xkey: 'd',
    ykeys: ['v','c2'],
    labels: ['Volume','Count'],
    lineColors:['#0aa699','#d1dade'],
    hoverCallback: function(index, options, context){
      var row = options.data[index];
      return ""+ row.d +"<br>Volume: $" + row.v.toLocaleString() + "<br>Transactions: "+row.c;
    },
  });
});


</script>
{% endblock %}
