{% extends 'base.html' %}
{% load i18n %}
{% block title %} User Login {% endblock %}




{% block body %}
<body class="error-body no-top">
<div class="container">
  <div class="row login-container">
    {% if form.errors %}
    <div class="alert alert-error col-md-6 col-md-offset-3"><p>Your username and password combination was incorrect.</p></div>
    {% endif %}

    <div class="col-md-4 col-md-offset-4"><br>
      <h2>Sign in</h2>
      <p>Welcome to Realtor Stats.  Please sign in.</p><br>

      <form id="login-form" class="login-form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
      {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-10">
            <label class="form-label">Username</label>

            <div class="controls">
              <div class="input-with-icon  right">
                <i class=""></i>
                <input type="text" name="username" id="txtusername" class="form-control">

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-10">
            <label class="form-label">Password</label>
            <span class="help"></span>

            <div class="controls">
              <div class="input-with-icon  right">
                <i class=""></i>
                <input type="password" name="password" id="txtpassword" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <button class="btn btn-primary btn-cons pull-right" type="submit">Login</button>
          </div>
        </div>
        <input type="hidden" name="next" value="{{ next|default:"/"|escape }}" />
      </form>
    </div>


  </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK-->
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<!-- BEGIN CORE TEMPLATE JS -->
<!-- END CORE TEMPLATE JS -->
<script>
  $(document).ready(function () {
    $('#login-form').validate({

      focusInvalid: false,
      ignore: "",
      rules: {
        username: {
          required: true
        },
        password: {
          required: true,
        }
      },

      invalidHandler: function (event, validator) {
        //display error alert on form submit
      },

      errorPlacement: function (label, element) { // render error placement for each input type
        $('<span class="error"></span>').insertAfter(element).append(label)
        var parent = $(element).parent('.input-with-icon');
        parent.removeClass('success-control').addClass('error-control');
      },

      highlight: function (element) { // hightlight error inputs

      },

      unhighlight: function (element) { // revert the change done by hightlight

      },

      success: function (label, element) {
        var parent = $(element).parent('.input-with-icon');
        parent.removeClass('error-control').addClass('success-control');
      },
      submitHandler: function (form) {
        form.submit();
      }
    });

  });

</script>
</body>


{% endblock %}
