{% extends 'base.html' %}
{% block title %}Office List{% endblock %}

{% block content %}


<div class="page-title">
  <h3>Offices</h3>
</div>

<div id="container">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple ">
        <div class="grid-title no-border">
          <h4>Local <span class="semi-bold">Offices</span></h4>
        </div>
        <div class="grid-body no-border">
          <h3>Offices <span class="semi-bold">List</span></h3>

          <div class="row">
            <div class="col-md-12">
              {%  for office in offices %}
                <p><a href="{% url 'one_office' office.id %}">{{ office.name }}</a></p>
              {% endfor %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                <div class="pagination">

                  {% if offices.has_previous %}
                    <li class="prev">
                      <a href="?page={{ offices.previous_page_number }}">
                        <i class="icon-chevron-left"></i>
                        Previous
                      </a>
                    </li>
                  {% endif %}

                  {% if offices.has_next %}
                    <li class="next">
                      <a href="?page={{ offices.next_page_number }}">Next Page
                        <i class="icon-chevron-right"></i>
                      </a>
                    </li>
                  {% endif %}

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


