{% extends 'base.html' %}
{% load humanize %}
{% block title %}Transaction Page - {{ transaction.address.full_address }}{% endblock %}

{% block content %}

<style>

.agent_photo_small{
  margin:0px;
  margin-left:10px;
  margin-right:10px;
  border-radius:50%;
  width:75px;
  height:75px;
  background-repeat:no-repeat;
}
</style>


<div class="page-title">
  <h3>{{ transaction.address.full_address }} ( {{ transaction.status }} )</h3>
</div>

<div id="container">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-title no-border">
          <div class="row">
            <div class="col-md-3">
                <h4>Transaction Details</h4>
                {% if transaction.selling_price %}
                <p><strong>Selling Price : </strong>${{ transaction.selling_price|intcomma }}</p>
                {% else %}
                <p><strong>Current Price : </strong>${{ transaction.current_price|intcomma }}</p>
                {% endif %}
                {% if transaction.date_closed_sale %}
                <p><strong>Date Closed Sale : </strong>{{ transaction.date_closed_sale }}</p>
                {% else %}
                <p><strong>Date Status Changed : </strong>{{ transaction.date_status_changed }}</p>
                {% endif %}

                <p><strong>MLS ID : </strong>{{ transaction.multiple_listing_number }}</p>

            </div>


            <div class="col-md-3">
                <h4>Property Details</h4>
                <p><strong>Year Built : </strong>{{ transaction.year_built }}</p>
                <p><strong>Type : </strong>{% if transaction.structure_attached == True %}Attached {% endif %}{{ transaction.property_type }}</p>
                <p><strong>Lot Sq Footage : </strong>{{ transaction.lot_square_footage|intcomma }}</p>
                <p><strong>Area : </strong>{{ transaction.area }}</p>
            </div>

            <div class="col-md-3">
                <h4>Selling Details</h4>
                <p><strong>Days on Market : </strong>{{ transaction.days_on_market }}</p>
                {% if transaction.days_on_market != transaction.cumulative_days_on_market %}
                <p><strong>Cumulative Days On Market : </strong>{{ transaction.cumulative_days_on_market }}</p>
                {% endif %}
                <p><strong>$/Sqft : </strong>{{ transaction.price_per_square_foot }}</p>
            </div>

            <div class="col-md-3">
                <h4>Financing Details</h4>
                <p><strong>Sale Type : </strong>{{ transaction.sale_type }}</p>
                <p><strong>Financing : </strong>{{ transaction.financing }}</p>
                <p><strong>Terms : </strong>{{ transaction.sold_terms }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              {% if transaction.listing_agent %}
              <h5>Listing Agent</h5>
              <a href="{% url 'one_realtor' transaction.listing_agent.id %}">
              {% if transaction.listing_agent.agent_image %}
              {{ transaction.listing_agent.agent_image.to_html_small }}
              {% else %}
              {{ agent_image_model.to_html_unknown_image_small }}
              {% endif %}
              <p>{{ transaction.listing_agent }}</p>
              </a>
              {% endif %}
              {% if transaction.co_listing_agent %}
              <h5>Co-Listing Agent</h5>
              <a href="{% url 'one_realtor' transaction.co_listing_agent.id %}">
              {% if transaction.co_listing_agent.agent_image %}
              {{ transaction.co_listing_agent.agent_image.to_html_small }}
              {% else %}
              {{ agent_image_model.to_html_unknown_image_small }}
              {% endif %}
              <p>{{ transaction.co_listing_agent }}</p>
              </a>
              {% endif %}
            </div>

            <div class="col-md-2">
              {% if transaction.selling_agent %}
              <h5>Selling Agent</h5>
              <a href="{% url 'one_realtor' transaction.selling_agent.id %}">
              {% if transaction.selling_agent.agent_image %}
              {{ transaction.selling_agent.agent_image.to_html_small }}
              {% else %}
              {{ agent_image_model.to_html_unknown_image_small }}
              {% endif %}
              <p>{{ transaction.selling_agent }}</p>
              </a>
              {% endif %}
              {% if transaction.co_selling_agent %}
              <h5>Co-Selling Agent</h5>
              <a href="{% url 'one_realtor' transaction.co_selling_agent.id %}">
              {% if transaction.co_selling_agent.agent_image %}
              {{ transaction.co_selling_agent.agent_image.to_html_small }}
              {% else %}
              {{ agent_image_model.to_html_unknown_image_small }}
              {% endif %}
              <p>{{ transaction.co_selling_agent }}</p>
              </a>
              {% endif %}
            </div>

            <div class="col-md-4">
              <div id="map-canvas" style='width:100%;height:300px;'> <br /><br /></div>
            </div>

            <div class="col-md-4">
              <h4>Property Description</h4>
              <p><strong>APN : </strong>{{ transaction.assessors_parcel_number }}</p>
              <p>{{ transaction.property_description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock %}


{% block javascript %}
<script src="http://maps.google.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript" ></script>


<script type="text/javascript">
var bounds = new google.maps.LatLngBounds();

function makeMarker(map, lat, lng, name, color) {
  var mylatlng = new google.maps.LatLng(lat, lng)
  var marker = new google.maps.Marker({
    position: mylatlng,
    map: map,
    title: name
  });
  marker.setIcon('http://maps.google.com/mapfiles/ms/icons/' + color + '.png');
  bounds.extend(mylatlng)
  return marker
 }

function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng({{ transaction.address.latitude }}, {{ transaction.address.longitude }}),
    zoom: 12
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

  marker{{ transaction.address.pk }} = makeMarker(map, {{ transaction.address.latitude }}, {{ transaction.address.longitude }}, "{{ transaction.address.full_address }}", 'red');

}
google.maps.event.addDomListener(window, 'load', initialize);
 
    </script>
 {% endblock %}
