{% extends 'base.html' %}

{% block title %}CSV Import Details{% endblock %}

{% block content %}



<style>
.details-progress {
    
    font-size: 11px;
    padding: 6px;
    margin-top:-4px;
    width:40px;
    
}
    
    
</style>

<div class="page-title">
  <h3>CSV Import Details</h3>
</div>

<div id="container">

    <div class="row">
        <div class="col-md-7">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>Import <span class="semi-bold">Details</span></h4>
            </div>
            <div class="grid-body no-border">
              <div class="row-fluid">
                <h3>Importing File: <span class="semi-bold">{{ import_detail.original_filename }}</span></h3>
                <p><code class="text-info">{{ import_detail.user_message }}</code></p>
                
                <div class="pull-right details-progress">{{ import_detail.progress }}%</div>
                 <div class="progress progress-striped {% if import_detail.progress != 100 %}active {% endif %}progress-large">
                    <div data-percentage="0%" style="width: {{ import_detail.progress }}%;" class="progress-bar progress-bar-success"></div>
                 </div>
                 <p>
                 {% if import_detail.records_in_import %}
                 <span class="semi-bold">{{ import_detail.records_in_import }}</span> Records in Import
                 {% endif %}
                 </p>
              </div>
            </div>
          </div>
        </div>

    </div>


</div>


{% endblock %}
