{% extends 'base.html' %}

{% block title %}Realtor Office Page{% endblock %}

{% block content %}

<div class="page-title">
  <h3>{{ office.name }}</h3>
</div>

<div id="container">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Office Info</h4>
          {% if office.phone %}<p>Phone: {{ office.phone }}</p>{% endif %}
          {% if office.license_number %}<p>License Number: {{ office.license_number }}</p>{% endif %}
          <p>MLS ID: {{ office.id }}</p>

        </div>
        <div class="grid-body no-border">
          <div class="row">
            <div class="col-md-12">
              <h4>Agents ( {{ agents.count }} ):</h4>
              {% include 'realtor/_realtor_table.html'  with agent=agent show_office=False %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>

{% endblock %}


