{% extends 'base.html' %}
{% load humanize %}

{% block title %}Realtor Page{% endblock %}

{% block content %}
<style>

  .agent_photo_micro{
    margin:0px;
    margin-left:10px;
    margin-right:10px;
    border-radius:50%;
    width:30px;
    height:30px;
    background-repeat:no-repeat;
    float:left;
  }


	.agent_photo_medium{
		margin:20px;
    margin-left:auto;
    margin-right:auto;
	  border-radius:50%;
		width:200px;
		height:200px;
		background-repeat:no-repeat;
	}

  .tab-marker{
    height:18px;
    margin-left:5px;
  }


</style>


<div class="page-title">
  <h3>{{ agent.name }}</h3>
</div>

<div id="container">

  {% if related_agents %}
  <div class="alert">
    <button class="close" data-dismiss="alert"></button>
    <p>Warning! It appears that there are other agents in the system with the same license number:</p>
    {% for agent in related_agents %}
      <p><a href="{% url 'one_realtor' agent.id %}">{{ agent.name }} - MLS ID : {{ agent.id }}</a></p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-title no-border">
          <div class="row">
            <div class="col-md-3 text-center">

              {% if agent.agentimage %}
              {{ agent.agentimage.to_html_medium }}
              <a href="{% url 'edit_image' agent.id %}"><button type="button" class="btn btn-primary btn-cons">Edit Image</button></a>
              {% else %}
              {{ agent_image_model.to_html_unknown_image_medium }}
              <a href="{% url 'upload_image' agent.id %}"><button type="button" class="btn btn-primary btn-cons">Upload Image</button></a>
              {% endif %}
              <h5><a href="{% url 'one_office' agent.office.id %}">{{ agent.office.name }}</a></h5>
              <p>{{ agent.cell_phone_number }}</p>
              <p>{{ agent.email }}</p>
            </div>

            <div class="col-md-2  text-center">
              <div class="grid-title no-border">
                <h3>Sell vs <span class="semi-bold">List</span></h3>
              </div>
              <div class="grid-body no-border">
                <h4>Sell</h4>
                  <div id="pie-sell" class="easy-pie-custom" data-percent="{% widthratio selling_type_transaction_count total_transaction_count 100%}">
                    <span class="easy-pie-percent">{{ selling_type_transaction_count }}</span>
                    <canvas height="110" width="110"></canvas></div>
                <h4>List</h4>
                  <div id="pie-list" class="easy-pie-custom" data-percent="{% widthratio listing_type_transaction_count total_transaction_count 100%}">
                    <span class="easy-pie-percent">{{ listing_type_transaction_count }}</span>
                    <canvas height="110" width="110"></canvas></div>
               </div>
            </div>


            <div class="col-md-7">
              <div class="grid simple">
                <div class="grid-title no-border text-center">
                  <h3>Transactions <span class="semi-bold">Over Time</span></h3>
                </div>
                <div class="grid-body no-border">

                  <div id="placeholder-bar-chart" style="height:300px"></div>
                </div>
              </div>
            </div>



          </div>
        </div>

      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-tabs" id="tab-01">
        <li class="active">
          <a href="#tab1">Selling ({{ selling_transactions.count }})
          <img class="tab-marker" src="http://maps.google.com/mapfiles/ms/icons/red.png" /></a>
        </li>
        <li>
          <a href="#tab2">Listing ({{ listing_transactions.count }})
            <img class="tab-marker" src="http://maps.google.com/mapfiles/ms/icons/green.png" />
          </a>
        </li>
        {% if co_selling_transactions %}
        <li>
          <a href="#tab3">Co-Selling ({{ co_selling_transactions.count }})
            <img class="tab-marker" src="http://maps.google.com/mapfiles/ms/icons/blue.png" />
          </a>
        </li>
        {% endif %}
        {% if co_listing_transactions %}
        <li>
          <a href="#tab4">Co-Listing ({{ co_listing_transactions.count }})
            <img class="tab-marker" src="http://maps.google.com/mapfiles/ms/icons/yellow.png" />
          </a>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          {% include 'realtor/_list_transactions.html' with transactions=selling_transactions reciprocal_agent='listing'%}
        </div>
        <div class="tab-pane" id="tab2">
          {% include 'realtor/_list_transactions.html' with transactions=listing_transactions reciprocal_agent='selling'%}
        </div>

        <div class="tab-pane" id="tab3">
        {% include 'realtor/_list_transactions.html' with transactions=co_selling_transactions reciprocal_agent='listing'%}
        </div>

        <div class="tab-pane" id="tab4">
          {% include 'realtor/_list_transactions.html' with transactions=co_listing_transactions reciprocal_agent='selling'%}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="grid-body no-border">
        <div class="row-fluid">
          <div id="map-canvas" style='width:100%;height:380px;'></div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

  </div>
</div>

{% endblock %}


{% block javascript %}
<script src="http://maps.google.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript" ></script>


<script type="text/javascript">
      var bounds = new google.maps.LatLngBounds();

      function makeMarker(map, lat, lng, color) {
        var mylatlng = new google.maps.LatLng(lat, lng)
        var marker = new google.maps.Marker({
          position: mylatlng,
          map: map,
        });
        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/' + color + '.png');
        bounds.extend(mylatlng)
        return marker
       }

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(0, 0),
          zoom: 8,
          minZoom: 10,
          zoomControl: false
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        {% for item in selling_transactions %}
          marker{{ item.address.pk }} = makeMarker(map, {{ item.address.latitude }}, {{ item.address.longitude }}, 'red');
          var infowindow{{ item.address.pk }} = new google.maps.InfoWindow({
            content: "<b>Address: </b>{{ item.address.full_address }}</b><br /><b>Price:</b> ${{ item.selling_price|intcomma }}"
          });
          google.maps.event.addListener(marker{{ item.address.pk }}, 'click', function() {
            infowindow{{ item.address.pk }}.open(map, marker{{ item.address.pk }});
          });
        {% endfor %}

        {% for item in co_selling_transactions %}
          marker{{ item.address.pk }} = makeMarker(map, {{ item.address.latitude }}, {{ item.address.longitude }}, 'blue');
          var infowindow{{ item.address.pk }} = new google.maps.InfoWindow({
            content: "<b>Address: </b>{{ item.address.full_address }}</b><br /><b>Price:</b> ${{ item.selling_price|intcomma }}"
          });
          google.maps.event.addListener(marker{{ item.address.pk }}, 'click', function() {
            infowindow{{ item.address.pk }}.open(map, marker{{ item.address.pk }});
          });
        {% endfor %}

        {% for item in listing_transactions %}
          marker{{ item.address.pk }} = makeMarker(map, {{ item.address.latitude }}, {{ item.address.longitude }}, 'green');
          var infowindow{{ item.address.pk }} = new google.maps.InfoWindow({
            content: "<b>Address: </b>{{ item.address.full_address }}</b><br /><b>Price:</b> ${{ item.selling_price|intcomma }}"
          });
          google.maps.event.addListener(marker{{ item.address.pk }}, 'click', function() {
            infowindow{{ item.address.pk }}.open(map, marker{{ item.address.pk }});
          });
        {% endfor %}

        {% for item in co_listing_transactions %}
          marker{{ item.address.pk }} = makeMarker(map, {{ item.address.latitude }}, {{ item.address.longitude }}, 'yellow');
          var infowindow{{ item.address.pk }} = new google.maps.InfoWindow({
            content: "<b>Address: </b>{{ item.address.full_address }}</b><br /><b>Price:</b> ${{ item.selling_price|intcomma }}"
          });
          google.maps.event.addListener(marker{{ item.address.pk }}, 'click', function() {
            infowindow{{ item.address.pk }}.open(map, marker{{ item.address.pk }});
          });
        {% endfor %}

        map.fitBounds(bounds)
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-flot/jquery.flot.time.min.js"></script>
<script src="{{ STATIC_URL }}webarch/assets/plugins/jquery-flot/jquery.flot.orderBars.js"></script>

<script>


$(document).ready(function(){
  $('#tab-01 a').click(function(e){
    e.preventDefault();
    $(this).tab('show');
  });

  $('#pie-sell').easyPieChart({
		lineWidth:9,
		barColor:'#f35958',
		trackColor:'#e5e9ec',
		scaleColor:false
    });
	$('#pie-list').easyPieChart({
		lineWidth:9,
		barColor:'#7dc6ec',
		trackColor:'#e5e9ec',
		scaleColor:false
    });
});

 var d1_1 = [
        {% for trans in listing_transactions_by_month %}
          [(new Date({{ trans.month_bin.year }}, {{ trans.month_bin.month }}, 1)).getTime(), {{ trans.monthly_transaction_count }}]{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    var d1_2 = [

        {% for trans in selling_transactions_by_month %}
          [(new Date({{ trans.month_bin.year }}, {{ trans.month_bin.month }}, 1)).getTime(), {{ trans.monthly_transaction_count }}]{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    var d1_3 = [
        {% for trans in co_listing_transactions_by_month %}
          [(new Date({{ trans.month_bin.year }}, {{ trans.month_bin.month }}, 1)).getTime(), {{ trans.monthly_transaction_count }}]{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    var d1_4 = [
        {% for trans in co_selling_transactions_by_month %}
          [(new Date({{ trans.month_bin.year }}, {{ trans.month_bin.month }}, 1)).getTime(), {{ trans.monthly_transaction_count }}]{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

var data1 = [
  {% if listing_transactions_by_month %}
    {
        label: "Listing",
        data: d1_1,
        bars: {
            show: true,
            barWidth: 12*24*60*60*300*.75 ,
            fill: true,
            lineWidth:0,
            order: 1,
            fillColor:  "rgba(243, 89, 88, 0.7)"
        },
        color: "rgba(243, 89, 88, 0.7)"
    },
  {% endif %}
  {% if selling_transactions_by_month %}
    {
        label: "Selling",
        data: d1_2,
        bars: {
            show: true,
            barWidth: 12*24*60*60*300 *.75,
            fill: true,
            lineWidth: 0,
            order: 2,
            fillColor:  "rgba(251, 176, 94, 0.7)"
        },
        color: "rgba(251, 176, 94, 0.7)"
    },
  {% endif %}
  {% if co_listing_transactions_by_month %}
    {
        label: "Co-Listing",
        data: d1_3,
        bars: {
            show: true,
            barWidth: 12*24*60*60*300*.75,
            fill: true,
            lineWidth: 0,
            order: 3,
            fillColor:  "rgba(10, 166, 153, 0.7)"
        },
        color: "rgba(10, 166, 153, 0.7)"
    },
  {% endif %}
  {% if co_selling_transactions_by_month %}
    {
        label: "Co-Selling",
        data: d1_4,
        bars: {
            show: true,
            barWidth: 12*24*60*60*300*.75,
            fill: true,
            lineWidth: 0,
            order: 4,
            fillColor:  "rgba(0, 144, 217, 0.7)"
        },
        color: "rgba(0, 144, 217, 0.7)"
    },
  {% endif %}

];

$.plot($("#placeholder-bar-chart"), data1, {
    xaxis: {
        min: (new Date(2013, 1, 1)).getTime(),
        max: (new Date(2014, 1, 1)).getTime(),
        mode: "time",
        timeformat: "%b",
        tickSize: [1, "month"],
        monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        tickLength: 0, // hide gridlines
        axisLabel: 'Month',
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
        axisLabelPadding: 5,
    },
    yaxis: {
        axisLabel: 'Value',
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
        axisLabelPadding: 5,
        tickDecimals:0
    },
    grid: {
        hoverable: true,
        clickable: false,
        borderWidth: 1,
  borderColor:'#f0f0f0',
  labelMargin:8,
    },
    series: {
        shadowSize: 1
    }
});


</script>

{% endblock %}