{% extends 'base.html' %}
{% block title %}Realtor List{% endblock %}

{% block content %}


<div class="page-title">
  <h3>Realtors</h3>
</div>

<div id="container">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple ">
        <div class="grid-title no-border">
          <h4>Local <span class="semi-bold">Agents</span></h4>
        </div>
        <div class="grid-body no-border">
          <h3>Agents <span class="semi-bold">List</span></h3>

          {% include 'realtor/_realtor_table.html' with agent=agent show_office=True %}
          <div class="row">
            <div class="col-md-12">
                <div class="pagination">

                  {% if agents.has_previous %}
                    <li class="prev">
                      <a href="?page={{ agents.previous_page_number }}">
                        <i class="icon-chevron-left"></i>
                        Previous
                      </a>
                    </li>
                  {% endif %}

                  {% if agents.has_next %}
                    <li class="next">
                      <a href="?page={{ agents.next_page_number }}">Next Page
                        <i class="icon-chevron-right"></i>
                      </a>
                    </li>
                  {% endif %}

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


