{% extends 'base.html' %}

{% block title %}Upload Image Page{% endblock %}

{% block content %}


<div class="page-title">
  <h3>Upload Image {{ agent.name }}</h3>
</div>

<div id="container">
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Upload Image</h4>

            <form method="POST" action="{% url 'upload_image' agent.id %}" enctype="multipart/form-data">
              {% csrf_token %}
             <div class="row">
              {% if form.errors %}
              <div class="col-md-4">
                <div class="alert alert-error">
                  <button class="close" data-dismiss="alert"></button>
                  {{ form.errors }}
                </div>
              </div>
              {% endif %}
                <div class="form-group col-md-10">
                  <div class="form-input">
                      {{ form.image }}
                  </div>
                </div>
              </div>
              <input type="submit" value="Save" class="btn btn-primary">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
